body{
  background-color: #444444;
  color: #dddddd;
  font-family: Arial, helvetica, sans-serif;
  margin: 10% 20%;
   
}

.exp-header{
  text-aling: center;
  text-transform: uppercase;
  border-top: 1px solid #dddd;
  border-bottom: 1px solid #dddd;
  background-color: rbga(0,0,0,0.1);
}
